.menu-container {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  
  .logo-hcl{}
.logo-hcl h1{}
  .menu-toggle {
    display: none; /* Hide by default on larger screens */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .menu {
 
 
    padding: 10px;
   
  }
  
  .menu.open {
    display: flex;
  }
  
  .menu ul {
    list-style-type: none;
   display: flex;
  }
  
  .menu li {padding: 0 15px;
 
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .logoM{}
  /* Media Query for responsive design */
  @media screen and (max-width: 768px) {
    .menu-toggle {
      display: block; /* Show toggle button on smaller screens */
    }
    
    .menu {
      position: absolute;
      top: 0;
      right: -200px; /* Off-screen initially */
      transition: transform 0.3s ease;
    }
  
    .menu.open {
      transform: translateX(-200px); /* Slide in from right when menu is open */
    }
  }
  
  .menu-header{ background-color: red;}